<%= render_sheet direction: "right", width: "w-full sm:max-w-full lg:max-w-full  md:w-3/5 lg:w-3/5 xl:w-1/2 ",  class:"!slide-in-from-right bg-white/50 backdrop-blur-xl p-0" do %>
  <%= sheet_trigger do %>
    <%= render_button text: "Dream India Group", variant: :outline %>
  <% end %>

  <%= sheet_content do %>
  <div class="">
      <div class="p-4 flex items-center justify-between">
          <h3 class="text-base font-semibold">Dream India Group Letter </h3>
      </div>
      <div class="p-4">
          <div class=" grid gap-1 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
              <div class="-mx-2 flex items-center space-x-4 rounded-md p-2 transition-all ">
                  <div class="space-y-1">
                      <p class="text-sm font-medium leading-none">Demand Letter</p>
                      <p class="text-sm text-gray-500">Letter Title</p>
                  </div>
              </div>
              <div class="-mx-2 flex items-center space-x-4 rounded-md p-2 transition-all ">
                  <div class="space-y-1">
                      <p class="text-sm font-medium leading-none">demand-letter</p>
                      <p class="text-sm text-gray-500">Letter Type</p>
                  </div>
              </div>
              <div class="-mx-2 flex items-center space-x-4 rounded-md p-2 transition-all">

                  <div class="">
                      <%= render_button as: :link, href: "", class: "bg-blue-50 text-blue-500 border border-blue-200 gap-2 hover:bg-blue-500 hover:text-white px-3" do %>
                      <%= render 'icons/docx' %>
                      <span class="text-xs">Download</span>
                      <% end %>
                  </div>
              </div>
              <div class="-mx-2 flex items-center space-x-4 rounded-md p-2 transition-all col-span-full">
                  <div class="whitespace-nowrap ">
                      <p class="text-sm font-medium leading-none mb-2">UUID - Click to copy</p>
                      <div class="inline-flex items-center gap-2 border ps-2 rounded-md bg-gray-50">

                          <span id="uuid"
                              class="text-xs font-semibold text-gray-800 block">9d8cc02a-2728-4bf4-8530-0f2eecc3cacd</span>
                          <button type="button"
                              class="copy-btn px-1 py-1 text-xs font-medium text-gray-500 bg-blue-100 rounded hover:bg-brand hover:text-white transition"
                              onclick="navigator.clipboard.writeText(document.getElementById('uuid').textContent)"
                              title="Copy UUID">
                              <%= render 'icons/copy' %>
                          </button>
                      </div>
                  </div>
              </div>
              <div class="-mx-2 flex items-center space-x-4 rounded-md p-2 transition-all col-span-full flex-wrap">
                  <div class="">
                      <p class="text-sm font-medium leading-none mb-2">Letter Merge Params</p>
                      <div
                          class="bg-gray-50 rounded-md p-3 text-xs font-mono text-gray-800 mb-2 whitespace-normal border border-gray-200 ">
                          <div>
                              ["=date", "=display_clients", "=client_address", "=client_email",
                              "=agreement_transaction_percentage", "=due_date_amount_percentage",
                              "=percentage_difference", "=last_payment_plan_position_with_due_date", "=project_name",
                              "=building_name", "=unit_no", "=application_no", "payment_plan_breakup:each(plan)",
                              "=plan.title", "=plan.principle_percentage", "=plan.due_date", "=plan.principal_amount",
                              "=plan.tax_amount", "=plan.principalgst", "payment_plan_breakup:endEach",
                              "=total_principal", "=total_gst", "=total_amount", "=amount_paid", "=gst_paid",
                              "=amountgst", "=agrebalance", "=gstbalance", "=totalbalance",
                              "=payment_account_details.beneficiary_name", "=payment_account_details.bank_name",
                              "=payment_account_details.account_number", "=payment_account_details.ifsc_code",
                              "=gst_account_details.beneficiary_name", "=gst_account_details.bank_name",
                              "=gst_account_details.account_number", "=gst_account_details.ifsc_code"]
                          </div>
                      </div>
                      <p class="text-xs text-gray-500">Merge Params Last Updated: 08 July 2025 at 3:19AM</p>
                  </div>
              </div>
              <div class="-mx-2 flex items-center space-x-4 rounded-md p-2 transition-all col-span-full">
                 <%= render_button text: "Merge Fields", variant: :outline, class: "text-gray-500 hover:text-white text-xs bg-brand hover:bg-brand/80 text-white" %>
              </div>
          </div>
      </div>
  </div>
  <% end %>
<% end %>