   <div class="w-full border border-gray-200 rounded-lg bg-white/50 ">
       <div class="border-b border-gray-200 rounded-t-lg flex gap-4 py-2 px-4 items-center">
           <div class="flex flex-col">
               <span class="text-black text-base font-semibold">Brokerage Details</span>
           </div>
       </div>
       <div class="p-4  grid gap-3 grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 ">
            
           <div class="rounded-md  border bg-white">
                <div class="p-4">
                    <div class="flex border-b gap-4 pb-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/broker' %></div>
                        <div class="space-y-1">
                            <p class="text-sm font-medium leading-none">Jitendra Patel</p>
                            <p class="text-sm text-muted-foreground">Broker Name</p>
                        </div>
                    </div>
                    <div class="flex border-b gap-4 py-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/contribution' %></div>
                        <div class="space-y-1">
                            <p class="text-sm font-medium leading-none">50%</p>
                            <p class="text-sm text-muted-foreground">Brokerage in %	</p>
                        </div>
                    </div>
                    <div class="flex  gap-4 pt-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/payment' %></div>
                        <div class="space-y-1">
                            <p class="text-sm font-medium leading-none"> &#8377; 1,00,000</p>
                            <p class="text-sm text-muted-foreground">Amount Paid</p>
                        </div>
                    </div>
                </div>
           </div>

           <div class="rounded-md  border bg-white">
                <div class="p-4">
                    <div class="flex border-b gap-4 pb-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/broker' %></div>
                        <div class="space-y-1">
                            <p class="text-sm font-medium leading-none">Jitendra Patel</p>
                            <p class="text-sm text-muted-foreground">Broker Name</p>
                        </div>
                    </div>
                    <div class="flex border-b gap-4 py-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/contribution' %></div>
                        <div class="space-y-1">
                            <p class="text-sm font-medium leading-none">50%</p>
                            <p class="text-sm text-muted-foreground">Brokerage in %	</p>
                        </div>
                    </div>
                    <div class="flex  gap-4 pt-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/payment' %></div>
                        <div class="space-y-1">
                            <p class="text-sm font-medium leading-none"> &#8377; 1,00,000</p>
                            <p class="text-sm text-muted-foreground">Amount Paid</p>
                        </div>
                    </div>
                </div>
           </div>
       </div>
   </div>