   <div class="w-full border border-gray-200 rounded-lg bg-white/50 ">
       <div class="border-b border-gray-200 rounded-t-lg flex gap-4 py-2 px-4 items-center">
           <div class="flex flex-col">
               <span class="text-black text-base font-semibold">Flat Details</span>
           </div>
       </div>
       <div class="p-4  grid gap-3 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 ">
        <div class="col-span-full"><span class="text-xs font-bold  text-gray-500">ID & Dates</span></div>
            <div class="rounded-md  border bg-white">
                <div class="p-4">
                    <div class="flex border-b gap-4 pb-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/registration' %></div>
                        <div class="space-y-1">
                            <p class="text-sm font-medium leading-none">OLY3DB55E</p>
                            <p class="text-sm text-muted-foreground">Registration ID</p>
                        </div>
                    </div>
                    <div class="flex  gap-4 pt-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/registration' %></div>
                        <div class="space-y-1">
                             <p class="text-sm font-medium leading-none">7758858</p>
                            <p class="text-sm text-muted-foreground">Registration No</p>
                        </div>
                    </div>
                </div>
           </div>
           <div class="rounded-md  border bg-white">
                <div class="p-4">
                    <div class="flex border-b gap-4 pb-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/date' %></div>
                        <div class="space-y-1">
                            <p class="text-sm font-medium leading-none">10-Dec-2024</p>
                            <p class="text-sm text-muted-foreground">Booking Date</p>
                        </div>
                    </div>
                    <div class="flex  gap-4 pt-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/date' %></div>
                        <div class="space-y-1">
                            <p class="text-sm font-medium leading-none">10-Dec-2024</p>
                            <p class="text-sm text-muted-foreground">Possession Date</p>
                        </div>
                    </div>
                </div>
           </div>
            <div class="col-span-full"><span class="text-xs font-bold  text-gray-500">Area</span></div>
            <div class=" flex items-center space-x-4 rounded-md p-4 transition-all border bg-white">
               <div class="text-gray-800 opacity-70"><%= render 'icons/carpet' %></div>
               <div class="space-y-1">
                   <p class="text-sm font-medium leading-none">828 Sq Ft. / 77 Sq M.</p>
                   <p class="text-sm text-muted-foreground">Old Carpet area</p>
               </div>
           </div>
           <div class=" flex items-center space-x-4 rounded-md p-4 transition-all border bg-white">
               <div class="text-gray-800 opacity-70"><%= render 'icons/carpet' %></div>
               <div class="space-y-1">
                   <p class="text-sm font-medium leading-none">828 Sq Ft. / 77 Sq M.</p>
                   <p class="text-sm text-muted-foreground">Carpet area</p>
               </div>
           </div>
           <div class="flex items-center space-x-4 rounded-md p-4 transition-all border bg-white">
               <div class="text-gray-800 opacity-70"><%= render 'icons/carpet' %></div>
               <div class="space-y-1">
                   <p class="text-sm font-medium leading-none">1117.8 Sq Ft. / 104 Sq M.</p>
                   <p class="text-sm text-muted-foreground">Sales Area</p>
               </div>
           </div>
           <div class="flex items-center space-x-4 rounded-md p-4 transition-all border bg-white">
               <div class="text-gray-800 opacity-70"><%= render 'icons/carpet' %></div>
               <div class="space-y-1">
                   <p class="text-sm font-medium leading-none">75.32 Sq Ft. / 7 Sq M.</p>
                   <p class="text-sm text-muted-foreground">Balcony Area</p>
               </div>
           </div>
           <div class="col-span-full"><span class="text-xs font-bold  text-gray-500">Flat config</span></div>
           <div class="flex items-center space-x-4 rounded-md p-4 transition-all border bg-white">
               <div class="text-gray-800 opacity-70"><%= render 'icons/unit' %></div>
               <div class="space-y-1">
                   <p class="text-sm font-medium leading-none ">3 BHK</p>
                   <p class="text-sm text-muted-foreground">Configuration</p>
               </div>
           </div>
           <div class="flex items-center space-x-4 rounded-md p-4 transition-all border bg-white">
               <div class="text-gray-800 opacity-70"><%= render 'icons/facing' %></div>
               <div class="space-y-1">
                   <p class="text-sm font-medium leading-none ">East</p>
                   <p class="text-sm text-muted-foreground">Facing</p>
               </div>
           </div>
           <div class="col-span-full"><span class="text-xs font-bold  text-gray-500">Price</span></div>
           <div class="flex items-center space-x-4 rounded-md p-4 transition-all border bg-white">
               <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
               <div class="space-y-1">
                   <p class="text-sm font-medium leading-none">&#8377; 4500/Sq Ft.</p>
                   <p class="text-sm text-muted-foreground">Rate</p>
               </div>
           </div>
           <div class="flex items-center space-x-4 rounded-md p-4 transition-all border bg-white">
               <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
               <div class="space-y-1">
                   <p class="text-sm font-medium leading-none ">&#8377; 45,000</p>
                   <p class="text-sm text-muted-foreground">Total Agreement Amount</p>
               </div>
           </div>
           <div class="flex items-center space-x-4 rounded-md p-4 transition-all border bg-white">
               <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
               <div class="space-y-1">
                   <p class="text-sm font-medium leading-none ">&#8377; 45,000</p>
                   <p class="text-sm text-muted-foreground">Total Non Agreement Amount</p>
               </div>
           </div>
           <div class="flex items-center space-x-4 rounded-md p-4 transition-all border bg-white">
               <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
               <div class="space-y-1">
                   <p class="text-sm font-medium leading-none ">&#8377; 45,000</p>
                   <p class="text-sm text-muted-foreground">Total NTND Amount</p>
               </div>
           </div>
           <div class="col-span-full"><span class="text-xs font-bold  text-gray-500">Fund details & Brokerage</span></div>
            <div class="flex items-center space-x-4 rounded-md p-4 transition-all border bg-white">
               <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
               <div class="space-y-1">
                   <p class="text-sm font-medium leading-none ">Self Funding</p>
                   <p class="text-sm text-muted-foreground">Fund Source</p>
               </div>
           </div>
           <div class="flex items-center space-x-4 rounded-md p-4 transition-all border bg-white">
               <div class="text-gray-800 opacity-70"><%= render 'icons/broker' %></div>
               <div class="space-y-1">
                   <p class="text-sm font-medium leading-none ">JP</p>
                   <p class="text-sm text-muted-foreground">Broker</p>
               </div>
           </div>
          
           <div class="flex items-center space-x-4 rounded-md p-4 transition-all border bg-white">
               <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
               <div class="space-y-1">
                   <p class="text-sm font-medium leading-none ">2.5 %</p>
                   <p class="text-sm text-muted-foreground">Brokerage in %</p>
               </div>
           </div>
            <div class="col-span-full"><span class="text-xs font-bold  text-gray-500">Offers</span></div>
           <div class="flex items-center space-x-4 rounded-md p-4 transition-all border bg-white">
               <div class="text-gray-800 opacity-70"><%= render 'icons/discount' %></div>
               <div class="space-y-1">
                   <p class="text-sm font-medium leading-none ">0</p>
                   <p class="text-sm text-muted-foreground">Promotional Discount</p>
               </div>
           </div>
           <div class="flex items-center space-x-4 rounded-md p-4 transition-all border bg-white">
               <div class="text-gray-800 opacity-70"><%= render 'icons/discount' %></div>
               <div class="space-y-1">
                   <p class="text-sm font-medium leading-none ">0</p>
                   <p class="text-sm text-muted-foreground">Special Scheme/offer</p>
               </div>
           </div>
           <div class="col-span-full"><span class="text-xs font-bold  text-gray-500">Loan Info</span></div>
           <div class="flex items-center space-x-4 rounded-md p-4 transition-all border bg-white">
               <div class="text-gray-800 opacity-70"><%= render 'icons/bank' %></div>
               <div class="space-y-1">
                   <p class="text-sm font-medium leading-none ">0</p>
                   <p class="text-sm text-muted-foreground">Loan Provider</p>
               </div>
           </div>
           <div class="col-span-full"><span class="text-xs font-bold  text-gray-500">Others</span></div>
           <div class="flex items-center space-x-4 rounded-md p-4 transition-all border bg-white col-span-full">
               <div class="text-gray-800 opacity-70"><%= render 'icons/notes' %></div>
               <div class="space-y-1">
                   <p class="text-sm font-medium leading-none ">test</p>
                   <p class="text-sm text-muted-foreground">Remarks</p>
               </div>
           </div>
       </div>
   </div>