   <div class="w-full border border-gray-200 rounded-lg bg-white/50 ">
       <div class="border-b border-gray-200 rounded-t-lg flex gap-4 py-2 px-4 items-center">
           <div class="flex flex-col">
               <span class="text-black text-base font-semibold">Payment Plan</span>
           </div>
       </div>
       <div class="p-4  grid gap-3 grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 ">
            <div class="rounded-md  border bg-white">
                <span class="text-xs font-bold  text-gray-500 px-4 pt-4 block">Agreement</span>
                <div class="p-4">
                    <div class="flex border-b gap-4 pb-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
                        <div class="space-y-1">
                            <p class="text-sm font-medium leading-none">&#8377; 60,00,000</p>
                            <p class="text-sm text-muted-foreground">Total Agreement Amount</p>
                        </div>
                    </div>
                    <div class="flex border-b gap-4 py-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
                        <div class="space-y-1">
                             <p class="text-sm font-medium leading-none">&#8377; 0</p>
                            <p class="text-sm text-muted-foreground">Agreement Amount Due</p>
                        </div>
                    </div>
                    <div class="flex border-b gap-4 py-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
                        <div class="space-y-1">
                             <p class="text-sm font-medium leading-none">&#8377; 0</p>
                            <p class="text-sm text-muted-foreground">Agreement Amount Received with Tds</p>
                        </div>
                    </div>
                      <div class="flex border-b gap-4 py-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
                        <div class="space-y-1">
                             <p class="text-sm font-medium leading-none">&#8377; 0</p>
                            <p class="text-sm text-muted-foreground">Agreement Amount Pending</p>
                        </div>
                    </div>
                     <div class="flex  gap-4 pt-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
                        <div class="space-y-1">
                             <p class="text-sm font-medium leading-none">&#8377; 60,00,000</p>
                            <p class="text-sm text-muted-foreground">Total Agreement Amount Balance</p>
                        </div>
                    </div>
                </div>
           </div>
           <div class="rounded-md  border bg-white">
                <span class="text-xs font-bold  text-gray-500 px-4 pt-4 block">GST</span>
                <div class="p-4">
                    <div class="flex border-b gap-4 pb-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
                        <div class="space-y-1">
                            <p class="text-sm font-medium leading-none">&#8377; 0</p>
                            <p class="text-sm text-muted-foreground">Agreement GST Due</p>
                        </div>
                    </div>
                    <div class="flex border-b gap-4 py-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
                        <div class="space-y-1">
                             <p class="text-sm font-medium leading-none">&#8377; 0</p>
                            <p class="text-sm text-muted-foreground">Agreement GST Received</p>
                        </div>
                    </div>
                    <div class="flex border-b gap-4 py-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
                        <div class="space-y-1">
                             <p class="text-sm font-medium leading-none">&#8377; 0</p>
                            <p class="text-sm text-muted-foreground">Agreement GST Pending</p>
                        </div>
                    </div>
                      
                </div>
           </div>
           <div class="rounded-md  border bg-white">
                <span class="text-xs font-bold  text-gray-500 px-4 pt-4 block">Interest</span>
                <div class="p-4">
                    <div class="flex border-b gap-4 pb-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
                        <div class="space-y-1">
                            <p class="text-sm font-medium leading-none">&#8377; 0</p>
                            <p class="text-sm text-muted-foreground">Total Interest</p>
                        </div>
                    </div>
                    <div class="flex border-b gap-4 py-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
                        <div class="space-y-1">
                             <p class="text-sm font-medium leading-none">&#8377; 0</p>
                            <p class="text-sm text-muted-foreground">Total Interest Received</p>
                        </div>
                    </div>
                    <div class="flex border-b gap-4 py-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
                        <div class="space-y-1">
                             <p class="text-sm font-medium leading-none">&#8377; 0</p>
                            <p class="text-sm text-muted-foreground">Total Interest Waived Off</p>
                        </div>
                    </div>
                    <div class="flex  gap-4 pt-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
                        <div class="space-y-1">
                             <p class="text-sm font-medium leading-none">&#8377; 0</p>
                            <p class="text-sm text-muted-foreground">Total Interest Pending</p>
                        </div>
                    </div>
                </div>
           </div>
          <div class="rounded-md  border bg-white">
                <span class="text-xs font-bold  text-gray-500 px-4 pt-4 block">NTND </span>
                <div class="p-4">
                    <div class="flex border-b gap-4 pb-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
                        <div class="space-y-1">
                            <p class="text-sm font-medium leading-none">&#8377; 0</p>
                            <p class="text-sm text-muted-foreground">Total NTND Amount</p>
                        </div>
                    </div>
                    <div class="flex border-b gap-4 py-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
                        <div class="space-y-1">
                             <p class="text-sm font-medium leading-none">&#8377; 0</p>
                            <p class="text-sm text-muted-foreground">Total NTND Received</p>
                        </div>
                    </div>
                    <div class="flex border-b gap-4 py-4">
                        <div class="text-gray-800 opacity-70"><%= render 'icons/rupee' %></div>
                        <div class="space-y-1">
                             <p class="text-sm font-medium leading-none">&#8377; 0</p>
                            <p class="text-sm text-muted-foreground">Total NTND Pending</p>
                        </div>
                    </div>
                </div>
           </div>
           <div class="col-span-full sm:col-span-1 lg:col-span-2 flex gap-2 items-center justify-between space-x-4 rounded-md p-4 transition-all border bg-gradient-to-r from-green-600 to-lime-400">
            <div class="space-y-1">
                   <p class="text-sm font-bold leading-none text-white">Payment Plan Options</p>
                   <p class="text-sm text-white">for Global Inspiria</p>
               </div>
               <%= render 'projects/flat/booking/paymentOption' %>
               
           </div>
       </div>
   </div>