<h3 class="text-base font-semibold col-span-full ">Account Details</h3>
<div class="mb-2">
    <%= render_label name: "", label: "Account No", class: "mb-2 block" %>
    <select name="budilding" id="select-building"
        class="w-full rounded border-gray-300 p-3 text-sm focus:border-brand focus:ring-brand focus:ring-2 focus:ring-opacity-50 focus:outline-none">
        <option value="">Please select</option>
        <option value="t1">Jitendra</option>
        <option value="t2">JP</option>
    </select>
</div>
<div class="mb-2">
    <%= render_label name: "", label: "Transaction Type", class: "mb-2 block" %>
    <select name="budilding" id="select-building"
        class="w-full rounded border-gray-300 p-3 text-sm focus:border-brand focus:ring-brand focus:ring-2 focus:ring-opacity-50 focus:outline-none">
        <option value="">Please select</option>
        <option value="t1">Jitendra</option>
        <option value="t2">JP</option>
    </select>
</div>
<div class="mb-2">
    <%= render_label name: "", label: "Payment Type", class: "mb-2 block" %>
    <select name="budilding" id="select-building"
        class="w-full rounded border-gray-300 p-3 text-sm focus:border-brand focus:ring-brand focus:ring-2 focus:ring-opacity-50 focus:outline-none">
        <option value="">Please select</option>
        <option value="t1">Jitendra</option>
        <option value="t2">JP</option>
    </select>
</div>
<div class="mb-2">
    <%= render_label name: "", label: "Cost Type", class: "mb-2 block" %>
    <select name="budilding" id="select-building"
        class="w-full rounded border-gray-300 p-3 text-sm focus:border-brand focus:ring-brand focus:ring-2 focus:ring-opacity-50 focus:outline-none">
        <option value="">Please select</option>
        <option value="t1">test</option>
        <option value="t2">3BHK</option>
    </select>
</div>
<div class="mb-2">
    <%= render_label name: "", label: "Payment Mode", class: "mb-2 block" %>
    <select name="budilding" id="select-building"
        class="w-full rounded border-gray-300 p-3 text-sm focus:border-brand focus:ring-brand focus:ring-2 focus:ring-opacity-50 focus:outline-none">
        <option value="">Please select</option>
        <option value="t1">test</option>
        <option value="t2">3BHK</option>
    </select>
</div>
<h3 class="text-base font-semibold col-span-full ">Amount</h3>
<div class="mb-2">
    <%= render_label name: "", label: "Amount", class: "mb-2 block" %>
    <%= render_input name: "", id: "", placeholder: "", class: "h-auto p-3" %>
</div>
<div class="mb-2">
    <%= render_label name: "", label: "Tax Amount", class: "mb-2 block" %>
    <%= render_input name: "", id: "", placeholder: "", class: "h-auto p-3" %>
</div>
<div class="mb-2">
    <%= render_label name: "", label: "Tds Amount", class: "mb-2 block" %>
    <%= render_input name: "", id: "", placeholder: "", class: "h-auto p-3" %>
</div>
<h3 class="text-base font-semibold col-span-full ">Dates</h3>
<div class="mb-2">
    <%= render_label name: "", label: "Instrument Date", class: "mb-2 block" %>
    <%= render_input name: "", type: "date", placeholder: "", class: "h-auto p-3" %>
</div>
<div class="mb-2">
    <%= render_label name: "", label: "Clearing Date", class: "mb-2 block" %>
    <%= render_input name: "", type: "date", placeholder: "", class: "h-auto p-3" %>
</div>


<h3 class="text-base font-semibold col-span-full ">Bank Details</h3>
<div class="mb-2">
    <%= render_label name: "", label: "Bank Name", class: "mb-2 block" %>
    <%= render_input name: "", placeholder: "", class: "h-auto p-3" %>
</div>
<div class="mb-2">
    <%= render_label name: "", label: "Cheque/NEFT/ECS No", class: "mb-2 block" %>
    <%= render_input name: "",  placeholder: "", class: "h-auto p-3" %>
</div>
<div class="mb-2">
    <%= render_label name: "", label: "Customer A/C No", class: "mb-2 block" %>
    <%= render_input name: "", placeholder: "", class: "h-auto p-3" %>
</div>
