  <div class="col-span-full flex items-center justify-between">
      <h3 class="text-base font-semibold">Executive Contributions</h3>
  </div>
  <div class="col-span-full flex gap-2 items-stretch w-full bg-white rounded-lg border border-gray-200">
      <div class="w-full grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-4 p-4">
          <div class="mb-2 w-full">
              <%= render_label name: "", label: "Sales Person", class: "mb-2 block" %>
              <select name="budilding" id="select-building"
                  class="w-full rounded border-gray-300 p-3 text-sm focus:border-brand focus:ring-brand focus:ring-2 focus:ring-opacity-50 focus:outline-none">
                  <option value="">Please select</option>
                  <option value="t1">Flat Based</option>
                  <option value="t2">GST</option>
              </select>
          </div>
          <div class="mb-2">
              <%= render_label name: "", label: "Contribution", class: "mb-2 block" %>
              <%= render_input name: "", id: "", placeholder: "Percentage", class: "h-auto p-3" %>
          </div>
      </div>
      <div class="w-full max-w-[200px] flex items-center gap-2 bg-green-50 p-2 rounded-e-lg justify-center">
          <%= render_button as: :link, href: "", class: "w-auto bg-brand h-auto py-3 mt-2 gap-2" do %>
          <%= render 'icons/add' %>
          <span>Add</span>
          <% end %>
          <%= render_button as: :link, href: "", class: "w-auto bg-red-500 h-auto py-2 mt-2 gap-2" do %>
          <%= render 'icons/delete' %>
          <% end %>
      </div>
  </div>
  <div class="col-span-full flex gap-2 items-stretch w-full bg-white rounded-lg border border-gray-200">
      <div class="w-full grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-4 p-4">
          <div class="mb-2 w-full">
              <%= render_label name: "", label: "Sales Person", class: "mb-2 block" %>
              <select name="budilding" id="select-building"
                  class="w-full rounded border-gray-300 p-3 text-sm focus:border-brand focus:ring-brand focus:ring-2 focus:ring-opacity-50 focus:outline-none">
                  <option value="">Please select</option>
                  <option value="t1">Flat Based</option>
                  <option value="t2">GST</option>
              </select>
          </div>
          <div class="mb-2">
              <%= render_label name: "", label: "Contribution", class: "mb-2 block" %>
              <%= render_input name: "", id: "", placeholder: "Percentage", class: "h-auto p-3" %>
          </div>
      </div>
      <div class="w-full max-w-[200px] flex items-center gap-2 bg-green-50 p-2 rounded-e-lg justify-center">
          <%= render_button as: :link, href: "", class: "w-auto bg-brand h-auto py-3 mt-2 gap-2" do %>
          <%= render 'icons/add' %>
          <span>Add</span>
          <% end %>
          <%= render_button as: :link, href: "", class: "w-auto bg-red-500 h-auto py-2 mt-2 gap-2" do %>
          <%= render 'icons/delete' %>
          <% end %>
      </div>
  </div>