<div>
  <div class="mt-1 mb-4 flex justify-between items-center">
    <h1 class="font-bold ">Cost Type</h1>
    <%= render 'shared/breadcrumb' %>
  </div>
  <div class="flex gap-4">
   
    <div class="w-full border border-gray-200 rounded-lg bg-white/50 project-height-fix min-h-[calc(100vh-150px)]">
        <div class="">
            <div class="flex justify-between p-2  items-center">
                <h1 class="font-bold px-2">Manage</h1>
                <%= render 'settings/cost_types/add' %>
            </div>
            <div class="table-responsive">
                <%= render_table class:"overflow-hidden"  do %>
                    <%= table_head class:"rounded-t-md  py-2 px-4 bg-gradient-to-bl from-[#ffe4e6] to-[#ccfbf1]" do %>
                        <%= table_header  do %>
                            <span class="text-gray-700 text-sm font-bold block">Name</span>	
                        <% end %>
                        <%= table_header  do %>
                            <span class="text-gray-700 text-sm font-bold block">Tag</span>	
                        <% end %>
                        <%= table_header  do %>
                            <span class="text-gray-700 text-sm font-bold block">Action</span>		
                        <% end %>
                
                    <% end %>
                    <%= table_body do %>
                        <%= table_row do %>
                            <%= table_column do %>
                             <div class="whitespace-nowrap">
                                Non Agreement				
                             </div>
                               	
                            <% end %>
                            <%= table_column do %>
                             <div class="whitespace-nowrap">
                                Non Agreement			
                             </div>
                               	
                            <% end %>
                             <%= table_column do %>
                             <div class="whitespace-nowrap flex">
                                <%= render 'settings/cost_types/update' %>
                                <%= render 'settings/cost_types/delete' %>
                              
                             </div>
                                   	
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
  </div>
</div>
