<%= render_sheet  direction: "right", width: "w-full sm:max-w-full lg:max-w-full  md:w-full lg:w-2/3 xl:w-2/3	 ",  class:"!slide-in-from-right bg-white/50 backdrop-blur-xl p-0" do %>
<%= sheet_trigger do %>
       <%= render_button as: :link, href: "", class: "bg-white text-gray-500 border gap-2 hover:bg-gray-50" do %>
    <%= render 'icons/filter' %>
    <span>Filter</span>
  <% end %>
<% end %>
<%= sheet_content do %>
<div class="">
  <div>
     <div class="px-4 py-2">
        <h3 class="text-sm font-bold">Advance Filter</h3>
      </div>
    <form action="">
      <div class="min-h-[calc(100vh-100px)] h-[calc(100vh-100px)] p-4 overflow-y-auto">
        <div class="w-full">
          <%= render 'projects/lead/filterForm' %>
        </div>
      </div>
      <div class="bg-white border-t border-gray-300 p-4">
        <div class="flex justify-between items-center">
          <%= render_button "Search", as: :link, href: "", class: "bg-brand h-auto" %>
          <button data-ui--sheet-target="closeButton" type="button"
            class="bg-gray-200 text-gray-800 hover:bg-gray-300 h-auto rounded-md text-sm py-2 px-4">Close
          </button>
        </div>
      </div>
    </form>
  </div>

</div>
<% end %>
<% end %>