 <%= render_dialog do %>
    <%= dialog_trigger do %>
         <span class="inline-flex items-center  bg-blue-500 hover:bg-blue-800 text-white text-xs py-1 px-2 rounded-md cursor-pointer mr-2"><%= render 'icons/update' %> </span> 	
    <% end %>
    <%= dialog_content do %>
        <span class=" mb-4 block  text-xs">
            Edit Configuration
        </span>
        <div class="rounded-lg  p-4 shadow-xl bg-white">
            <div class=" pt-0 grid gap-1 grid-cols-1">
               <div class="mb-4">
                    <%= render_label name: "", label: "Project Name", class: "mb-2 block" %>
                    <select name="budilding" id="select-building"
                        class="w-full rounded border-gray-300 p-3 text-sm focus:border-brand focus:ring-brand focus:ring-2 focus:ring-opacity-50 focus:outline-none">
                        <option value="">Please select</option>
                        <option value="t1">Global</option>
                        <option value="t2">INspiria</option>
                    </select>
                </div>
                <div class="mb-4 ">
                    <%= render_label name:"", label:"Unit Type", class:"mb-2 block" %>
                    <%= render_input name: "", placeholder:"", class:"h-auto p-3 " %>
                </div>
            </div>
            <div class=" border-t border-gray-200 pt-4">
                <%= render_button "Save Changes", as: :link, class:"w-full bg-brand hover:bg-brand/80" %>
            </div>
        </div>
    <% end %>
 <% end %>