<div class="flex min-h-screen">
  <!-- Left Section -->
  <div class="bg-gradient-to-t from-green-100 to-green-50 w-1/2 border-r p-8">
    <div class="p-6 flex flex-col justify-between h-full rounded-xl shadow-2xl bg-white/60 backdrop-blur-sm">
      
      <div>
        <%= image_tag 'sample-logo.png', alt: 'Company Logo', class: 'max-w-52 max-h-16' %>
      </div>

      <div class="flex items-center justify-center">
        <div class="mt-12 max-w-[500px] w-full mx-auto">
          <h1 class="text-lg font-bold">Reset Password</h1>
          <p class="text-sm text-gray-600 mb-4">Enter your email to reset your password.</p>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="mb-4">
              <%= render_label name:"email", label:"Email Address" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email",
                    placeholder: "Email",
                    class: "h-auto p-3 w-full border rounded-md" %>
            </div>

            <div class="mb-4">
              <%= render_button text: "Send Reset Instructions", 
                    class:"w-full p-4 h-auto bg-brand hover:bg-brand/90 text-white font-semibold rounded-md" %>
            </div>
          <% end %>

          <div class="my-6 flex justify-between items-center gap-2">
            <%= link_to "Back to login", new_session_path(resource_name), class: "text-sm text-brand" %>
          </div>
        </div>
      </div>

      <div>
        <p class="text-xs text-gray-600">&copy; Copyright 2025. All rights reserved</p>
      </div>
    </div>
  </div>

  <div class="bg-gradient-to-t from-green-100 to-green-50 w-1/2 flex flex-col justify-between">
    <div class="pt-32">
      <h1 class="text-center text-xl font-semibold mb-4">
        Optimize real estate sales with cloud-based inventory management system.
      </h1>

      <div class="space-x-2 text-center flex flex-wrap items-center justify-center">
        <span class="rounded-full border border-gray-500 px-2.5 py-0.5 text-[10px] md:text-xs whitespace-nowrap text-black-700">Inventory Management</span>
        <span class="rounded-full border border-gray-500 px-2.5 py-0.5 my-1 text-[10px] md:text-xs whitespace-nowrap text-black-700">Payment Schedules</span>
        <span class="rounded-full border border-gray-500 px-2.5 py-0.5 my-1 text-[10px] md:text-xs whitespace-nowrap text-black-700">Demand Letters & Legal Papers</span>
      </div>

      <div class="space-x-2 text-center flex flex-wrap items-center justify-center">
        <span class="rounded-full border border-gray-500 px-2.5 py-0.5 text-[10px] md:text-xs whitespace-nowrap text-black-700">Payments & Collections</span>
        <span class="rounded-full border border-gray-500 px-2.5 py-0.5 my-1 text-[10px] md:text-xs whitespace-nowrap text-black-700">Reporting & Analytics</span>
      </div>

      <div class="space-x-2 text-center flex flex-wrap items-center justify-center">
        <span class="rounded-full border border-gray-500 px-2.5 py-0.5 text-[10px] md:text-xs whitespace-nowrap text-black-700 mt-1">& many more...</span>
      </div>
    </div>

    <%= image_tag 'bg-login.png', alt: 'Company Logo', class: 'w-full' %>
  </div>
</div>
