<%= render_sheet direction: "right", width: "w-full sm:max-w-full lg:max-w-full md:w-2/3 lg:w-2/3 xl:w-2/3", class: "!slide-in-from-right bg-white/50 backdrop-blur-xl p-0" do %>
  <%= sheet_trigger do %>
    <span class="block py-1 w-full flex  items-center justify-center text-white text-xs cursor-pointer  border-r bg-action">Edit</span>
  <% end %>

  <%= sheet_content do %>
    <div class="text-black">
       <div
      class="bg-gradient-to-tr from-[#22c55e] via-[#0e7490] to-[#3b82f6] relative overflow-hidden pointer-event-none z-10">
      <div class="w-full absolute top-5 right-0 flex items-end h-full">
        <%= image_tag 'card-project2.png', alt: 'Company Logo', class: ' ml-auto opacity-30' %>
      </div>
      <div class="border-b border-white/50 p-4 relative z-10">
        <div class="space-y-2 ">
          <div class="flex  gap-6 items-center">
            <div class="flex flex-col">
              <span class="text-xs text-white">Flat No</span>
              <h3 class="text-white text-sm font-bold">T1-101</h3>
            </div>
            <div class="flex flex-col">
              <span class="text-xs text-white">Floor</span>
              <h3 class="text-white text-sm font-bold">22</h3>
            </div>
            <div class="flex flex-col">
              <span class="text-xs text-white">Building</span>
              <h3 class="text-white text-sm font-bold">Tower 1</h3>
            </div>
            <div class="ml-auto"> <button data-ui--sheet-target="closeButton" type="button"
                class="text-white p-2"><%= render 'icons/close' %>
              </button></div>
          </div>
        </div>
      </div>
      <div class="px-4 py-2">
        <h3 class="text-white text-sm font-bold">Edit Flat Details</h3>
      </div>
    </div>
      <form action="">
        <div class="min-h-[calc(100vh-170px)] h-[calc(100vh-170px)] p-4 overflow-y-auto ">
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
            <div class="mb-2">
              <%= render_label name: "flat_no", label: "Flat No *", class: "mb-2 block" %>
              <%= render_input name: "flat_no", id: "flat_no", placeholder: "Flat No", class: "h-auto p-3" %>
            </div>
            <div class="mb-2">
              <%= render_label name: "", label: "Old Carpet Area", class: "mb-2 block" %>
              <%= render_input name: "", id: "", placeholder: "Carpet Area", class: "h-auto p-3" %>
            </div>
            <div class="mb-2">
              <%= render_label name: "", label: "Carpet Area * (Enter in Sq Ft.)", class: "mb-2 block" %>
              <%= render_input name: "", id: "", placeholder: "Carpet Area", class: "h-auto p-3" %>
            </div>
            <div class="mb-2">
              <%= render_label name: "", label: "Sales Area * (Enter in Sq Ft.)", class: "mb-2 block" %>
              <%= render_input name: "", id: "", placeholder: "Saleable Area", class: "h-auto p-3" %>
            </div>
            <div class="mb-2">
              <%= render_label name: "", label: "Rate *", class: "mb-2 block" %>
              <%= render_input name: "", id: "", placeholder: "Rate", class: "h-auto p-3" %>
            </div>
            <div class="mb-2">
              <%= render_label name: "", label: "Configuration *", class: "mb-2 block" %>
              <select name="budilding" id="select-building" class="w-full rounded border-gray-300 p-3 text-sm focus:border-brand focus:ring-brand focus:ring-2 focus:ring-opacity-50 focus:outline-none">
                <option value="">Please select</option>
                <option value="t1">2BHK</option>
                <option value="t2">3BHK</option>
              </select>
            </div>
            <div class="mb-2">
              <%= render_label name: "", label: "Floor Name *", class: "mb-2 block" %>
              <%= render_input name: "", id: "", placeholder: "Floor Name", class: "h-auto p-3" %>
            </div>
            <div class="mb-2">
              <%= render_label name: "", label: "Balcony Area * (Enter in Sq Ft.)", class: "mb-2 block" %>
              <%= render_input name: "", id: "", placeholder: "Balcony Area", class: "h-auto p-3" %>
            </div>
            <div class="mb-2">
              <%= render_label name: "", label: "Tds Percentage", class: "mb-2 block" %>
              <%= render_input name: "", id: "", placeholder: "Percentage", class: "h-auto p-3" %>
            </div>
            <div class="mb-2">
              <%= render_label name: "", label: "Facing *", class: "mb-2 block" %>
              <select name="budilding" id="select-building" class="w-full rounded border-gray-300 p-3 text-sm focus:border-brand focus:ring-brand focus:ring-2 focus:ring-opacity-50 focus:outline-none">
                <option value="">Please select</option>
                <option value="t1">North</option>
                <option value="t2">South</option>
              </select>
            </div>
            <div class="flex items-center pt-4">
              <%= render_checkbox name: "interest", label: "Interest Applicable ?" %>
            </div>

            <div class="col-span-full flex items-center justify-between">
              <h3 class="text-base font-semibold">Flat Costs</h3>
            </div>
            <div class="col-span-full flex gap-2 items-stretch w-full bg-white rounded-lg border border-gray-200">
              <div class="w-full grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-4 p-4">
                <div class="mb-2 w-full">
                  <%= render_label name: "", label: "Title", class: "mb-2 block" %>
                  <select name="budilding" id="select-building" class="w-full rounded border-gray-300 p-3 text-sm focus:border-brand focus:ring-brand focus:ring-2 focus:ring-opacity-50 focus:outline-none">
                    <option value="">Please select</option>
                    <option value="t1">Flat Based</option>
                    <option value="t2">GST</option>
                  </select>
                </div>
                <div class="mb-2">
                  <%= render_label name: "", label: "Percentage", class: "mb-2 block" %>
                  <%= render_input name: "", id: "", placeholder: "Percentage", class: "h-auto p-3" %>
                </div>
                <div class="mb-2 w-full">
                  <%= render_label name: "", label: "Type", class: "mb-2 block" %>
                  <select name="budilding" id="select-building" class="w-full rounded border-gray-300 p-3 text-sm focus:border-brand focus:ring-brand focus:ring-2 focus:ring-opacity-50 focus:outline-none">
                    <option value="">Please select</option>
                    <option value="t1">Agreement</option>
                    <option value="t2">3BHK</option>
                  </select>
                </div>
                <div class="mb-2">
                  <%= render_label name: "", label: "Amount", class: "mb-2 block" %>
                  <%= render_input name: "", id: "", placeholder: "Amount", class: "h-auto p-3" %>
                </div>
              </div>
              <div class="w-full max-w-[200px] flex items-center gap-2 bg-green-50 p-2 rounded-e-lg justify-center">
                <%= render_button as: :link, href: "", class: "w-auto bg-brand h-auto py-3 mt-2 gap-2" do %>
                  <%= render 'icons/add' %>
                  <span>Add</span>
                <% end %>
                <%= render_button as: :link, href: "", class: "w-auto bg-red-500 h-auto py-2 mt-2 gap-2" do %>
                  <%= render 'icons/delete' %>
                <% end %>
              </div>
            </div>
            <div class="col-span-full flex gap-2 items-stretch w-full bg-white rounded-lg border border-gray-200">
              <div class="w-full grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-4 p-4">
                <div class="mb-2 w-full">
                  <%= render_label name: "", label: "Title", class: "mb-2 block" %>
                  <select name="budilding" id="select-building" class="w-full rounded border-gray-300 p-3 text-sm focus:border-brand focus:ring-brand focus:ring-2 focus:ring-opacity-50 focus:outline-none">
                    <option value="">Please select</option>
                    <option value="t1">Flat Based</option>
                    <option value="t2">GST</option>
                  </select>
                </div>
                <div class="mb-2">
                  <%= render_label name: "", label: "Percentage", class: "mb-2 block" %>
                  <%= render_input name: "", id: "", placeholder: "Percentage", class: "h-auto p-3" %>
                </div>
                <div class="mb-2 w-full">
                  <%= render_label name: "", label: "Type", class: "mb-2 block" %>
                  <select name="budilding" id="select-building" class="w-full rounded border-gray-300 p-3 text-sm focus:border-brand focus:ring-brand focus:ring-2 focus:ring-opacity-50 focus:outline-none">
                    <option value="">Please select</option>
                    <option value="t1">Agreement</option>
                    <option value="t2">3BHK</option>
                  </select>
                </div>
                <div class="mb-2">
                  <%= render_label name: "", label: "Amount", class: "mb-2 block" %>
                  <%= render_input name: "", id: "", placeholder: "Amount", class: "h-auto p-3" %>
                </div>
              </div>
              <div class="w-full max-w-[200px] flex items-center gap-2 bg-green-50 p-2 rounded-e-lg justify-center">
                <%= render_button as: :link, href: "", class: "w-auto bg-brand h-auto py-3 mt-2 gap-2" do %>
                  <%= render 'icons/add' %>
                  <span>Add</span>
                <% end %>
                <%= render_button as: :link, href: "", class: "w-auto bg-red-500 h-auto py-2 mt-2 gap-2" do %>
                  <%= render 'icons/delete' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white border-t border-gray-300 p-4">
          <div class="flex justify-between items-center">
            <%= render_button "Save Changes", as: :link, href: "", class: "bg-brand h-auto" %>
            <button data-ui--sheet-target="closeButton" type="button" class="bg-gray-200 text-gray-800 hover:bg-gray-300 h-auto rounded-md text-sm py-2 px-4">Close
      </button>
          </div>
        </div>
      </form>
    </div>
  <% end %>
<% end %>
