<div>
 <div class="mt-1 mb-4 flex  items-center w-full">
        <span class="w-1/3 "><a href="/dashboard"
                class=" inline-flex  justify-between items-center p-2 text-xs border border-gray-200 rounded-lg rounded-lg bg-white hover:shadow-md transition-all">
                <div class="flex items-center gap-1">
                    <span class="text-gray-800 "><%= render 'icons/back' %></span>
                    <div class="flex flex-col">
                        <span class="text-gray-500">Back</span>

                    </div>
                </div>
            </a></span>

        <span class="w-1/3 text-black text-base font-semibold flex justify-center">Interest</span>
        <span class="w-1/3 flex justify-end">
            <%= render 'shared/breadcrumb' %>
        </span>
    </div>
  <div class="flex gap-4 ">
   
    <div class="w-full border border-gray-200 rounded-lg bg-white/50 project-height-fix min-h-[calc(100vh-150px)]">
        <div class="">
             
            <div class="flex justify-between p-2  items-center">
               <div class="flex gap-2">
            <%= render_input name: "search", id: "search", placeholder: "Search by name, email or phone...", class: "h-auto p-2.5 min-w-[400px]" %>
            <%= render_button as: :link, href: "", class: "bg-brand h-auto py-2 px-4 gap-2  hover:bg-brand/80" do %>
                <%= render 'icons/searchsm' %>
              <% end %>
        </div> 
        <div class="ml-auto flex gap-2">
          <%= render 'settings/interest/add' %>
        </div>
        </div>
            <div class="table-responsive">
                <%= render_table class:"overflow-hidden"  do %>
                    <%= table_head class:"rounded-t-md  py-2 px-4 bg-gradient-to-bl from-[#ffe4e6] to-[#ccfbf1]" do %>
                        <%= table_header do %>
                            <span class="text-gray-700 text-sm font-bold block">Title</span>	
                        <% end %>
                        <%= table_header do %>
                            <span class="text-gray-700 text-sm font-bold block">Percentage</span>	
                        <% end %>
                         <%= table_header do %>
                            <span class="text-gray-700 text-sm font-bold block">Days</span>	
                        <% end %>
                        <%= table_header class:"w-1/3" do %>
                            <span class="text-gray-700 text-sm font-bold block">Action</span>		
                        <% end %>
                
                    <% end %>
                    <%= table_body do %>
                        <%= table_row do %>
                            <%= table_column do %>
                             <div class="whitespace-nowrap">
                                South West		
                             </div>
                               	
                            <% end %>
                             <%= table_column do %>
                             <div class="whitespace-nowrap">
                                1%
                             </div>
                               	
                            <% end %>
                             <%= table_column do %>
                             <div class="whitespace-nowrap">
                                123		
                             </div>
                               	
                            <% end %>
                             <%= table_column do %>
                             <div class="whitespace-nowrap flex">
                                <%= render 'settings/interest/update' %>
                                <%= render 'settings/interest/delete' %>
                              
                             </div>
                                   	
                            <% end %>
                        <% end %>
                     
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
  </div>
</div>
