<%= render_sheet direction: "right", width: "w-full sm:max-w-full lg:max-w-full  md:w-3/5 lg:w-3/5 xl:w-1/2 ",  class:"!slide-in-from-right bg-white/50 backdrop-blur-xl p-0" do %>
  <%= sheet_trigger do %>
    <span class="inline-flex items-center  bg-blue-500 hover:bg-blue-800 text-white text-xs py-1 px-2 rounded-md cursor-pointer mr-2"><%= render 'icons/update' %> </span> 
  <% end %>

  <%= sheet_content do %>
  <div class="">
    <div class="p-4 flex items-center justify-between">
      <h3 class="text-base font-semibold">Edit Users</h3>
    </div>
    <form action="">
      <div class="modal-height p-4">
        <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-4">
        <div class="col-span-full flex items-center justify-between">
            <h3 class="text-base font-semibold">Basic Details</h3>
          </div>
            <div class="mb-4 ">
                  <%= render_label name: "", label: "Project Name", class: "mb-2 block" %>
                  <select name="budilding" id="select-building" class="w-full rounded border-gray-300 p-3 text-sm focus:border-brand focus:ring-brand focus:ring-2 focus:ring-opacity-50 focus:outline-none">
                    <option value="">Please select</option>
                    <option value="t1">Flat Based</option>
                    <option value="t2">GST</option>
                  </select>
                </div>
          <div class="mb-4">
            <%= render_label name:"", label:"Name", class:"mb-2 block" %>
            <%= render_input name: "", id: "", placeholder:"Name", class:"h-auto p-3 " %>
          </div>
            <div class="mb-4 ">
                  <%= render_label name: "", label: "Select Role", class: "mb-2 block" %>
                  <select name="budilding" id="select-building" class="w-full rounded border-gray-300 p-3 text-sm focus:border-brand focus:ring-brand focus:ring-2 focus:ring-opacity-50 focus:outline-none">
                    <option value="">Please select</option>
                    <option value="t1">Admin</option>
                    <option value="t2">GST</option>
                  </select>
                </div>
               <div class="mb-4">
            <%= render_label name:"", label:"Email ", class:"mb-2 block" %>
            <%= render_input name: "", id: "", placeholder:"Email ", class:"h-auto p-3 " %>
          </div>
           <div class="mb-4">
            <%= render_label name:"", label:"Mobile ", class:"mb-2 block" %>
            <%= render_input name: "", id: "", placeholder:"Mobile ", class:"h-auto p-3 " %>
          </div>
          <div class="col-span-full flex items-center justify-between">
            <h3 class="text-base font-semibold">Password</h3>
          </div>
            <div class="mb-4">
            <%= render_label name:"", label:"Password", class:"mb-2 block" %>
            <%= render_input name: "", id: "", placeholder:"Password", class:"h-auto p-3 " %>
          </div>
           <div class="mb-4">
            <%= render_label name:"", label:"Confirm Password", class:"mb-2 block" %>
            <%= render_input name: "",  placeholder:"Confirm Password", class:"h-auto pt-3 pb-2.5 " %>
          </div>
         
          
          
          
          
        </div>
      
           
      </div>
      <div class="bg-white border-t border-gray-300 p-4">
        <div class="flex justify-between items-center">
          <%= render_button "Save", as: :link, href: "", class: "bg-brand h-auto " %>
          <button data-ui--sheet-target="closeButton" type="button"
            class="bg-gray-200 text-gray-800 hover:bg-gray-300 h-auto rounded-md text-sm py-2 px-4">Close
          </button>
        </div>
      </div>
    </form>
  </div>
  <% end %>
<% end %>