<div>
      <div class="mt-1 mb-4 flex  items-center w-full">
        <span class="w-1/3 "><a href="/companies"
            class=" inline-flex  justify-between items-center p-2 text-xs border border-gray-200 rounded-lg rounded-lg bg-white hover:shadow-md transition-all">
            <div class="flex items-center gap-1">
                <span class="text-gray-800 "><%= render 'icons/back' %></span>
                <div class="flex flex-col">
                    <span class="text-gray-500">Back</span>
                    
                </div>
            </div>
        </a></span>
    
        <span class="w-1/3 text-black text-base font-semibold flex justify-center">Dream India Group</span>
        <span class="w-1/3 flex justify-end">
            <%= render 'shared/breadcrumb' %>
        </span>
  </div>
  <div class="flex gap-4">
  
    <div class="w-full border border-gray-200 rounded-lg bg-white/50 project-height-fix min-h-[calc(100vh-150px)]">
        <div class="">
              <div class="border-b border-gray-200 rounded-t-lg flex gap-4 py-2 px-4 items-center">
        <div class="flex gap-2">
            <%= render_input name: "search", id: "search", placeholder: "Search by name, email or phone...", class: "h-auto p-2.5 min-w-[400px]" %>
            <%= render_button as: :link, href: "", class: "bg-brand h-auto py-2 px-4 gap-2  hover:bg-brand/80" do %>
                <%= render 'icons/searchsm' %>
              <% end %>
        </div> 
        <div class="ml-auto flex gap-2">
            <%= render 'companies/add' %>
   
          <%= render_button class: "bg-gray-50 text-gray-500 border border-gray-200 gap-2 hover:bg-gray-900 hover:text-white" do %>
            <%= render 'icons/csv' %>
            <span>Export</span>
          <% end %>
        </div>
      </div>
            <div class=" table-responsive">
                <%= render_table class:"overflow-hidden"  do %>
                    <%= table_head class:"rounded-t-md  py-2 px-4 bg-gradient-to-bl from-[#ffe4e6] to-[#ccfbf1]" do %>
                        <%= table_header do %>
                            <span class="text-gray-700 text-sm font-bold block"> S.No</span>	
                        <% end %>
                        <%= table_header do %>
                        <span class="text-xs text-gray-700 block">Letter</span>
                            <span class="text-gray-700 text-sm font-bold block"> Title</span>	
                        <% end %>
                        <%= table_header do %>
                            <span class="text-xs text-gray-700 block">Letter</span>
                            <span class="text-gray-700 text-sm font-bold block">Type</span>	
                        <% end %>
                         <%= table_header do %>
                            <span class="text-xs text-gray-700 block">Download</span>
                            <span class="text-gray-700 text-sm font-bold block">Template</span>	
                        <% end %>
                        <%= table_header do %>
                            <span class="text-xs text-gray-700 block">Copy </span>
                            <span class="text-gray-700 text-sm font-bold block">UUID</span>		
                        <% end %>
                      
                        <%= table_header do %>
                            <span class="text-gray-700 text-sm font-bold block">Action</span>			
                        <% end %>
                    <% end %>
                    <%= table_body do %>
                        <%= table_row do %>
                            <%= table_column do %>
                                1
                            <% end %>
                             <%= table_column do %>
                                <div class="whitespace-nowrap">
                                   <%= render 'companies/letters/show' %>
                                </div>
                            <% end %>
                              <%= table_column do %>
                                <div class="whitespace-nowrap">
                                    <span class="text-sm font-semibold text-gray-800 block">demand-letter</span>
                                </div>
                            <% end %>
                             <%= table_column do %>
                                <div class="whitespace-nowrap">
                                   <%= render_button as: :link, href: "", class: "bg-blue-50 text-blue-500 border border-blue-200 gap-2 hover:bg-blue-500 hover:text-white px-3" do %>
                                    <%= render 'icons/docx' %>
                                    <span class="text-xs">Download</span>
                                <% end %>
                                </div>
                            <% end %>
                             <%= table_column do %>
                                <div class="whitespace-nowrap ">
                                    <div class="inline-flex items-center gap-2 border ps-2 rounded-md bg-gray-50">

                                        <span id="uuid" class="text-xs font-semibold text-gray-800 block">9d8cc02a-2728-4bf4-8530-0f2eecc3cacd</span>
                                        <button type="button"
                                            class="copy-btn px-1 py-1 text-xs font-medium text-gray-500 bg-blue-100 rounded hover:bg-brand hover:text-white transition"
                                            onclick="navigator.clipboard.writeText(document.getElementById('uuid').textContent)" title="Copy UUID">
                                            <%= render 'icons/copy' %>
                                        </button>
                                    </div>
                                </div>
                            <% end %>
                          
                             <%= table_column do %>
                             <div class="whitespace-nowrap flex ">
                                <%= render 'companies/letters/update' %>
                                <%= render 'companies/letters/delete' %>
                             </div>
                            <% end %>
                        <% end %>     
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
  </div>
</div>
