<div class="flex min-h-screen">
    <div class="bg-gradient-to-t from-green-100 to-green-50 w-1/2 border-r p-8">
        <div class="p-6 flex flex-col justify-between h-full rounded-xl shadow-2xl bg-white/50 backdrop-blur-sm">
            <div>
                <%= image_tag 'sample-logo.png', alt: 'Company Logo', class: 'max-w-52 max-h-16' %>
            </div>
            <div class="flex items-center justify-center">
                <div class="mt-12 max-w-[500px] w-full mx-auto">
                    <h1 class="text-lg font-bold">Welcome Back</h1>
                    <p class="text-sm text-gray-600 mb-4">Enter your email and password to access your account.</p>
                    
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="mb-4">
                            <%= f.label :email, "Email Address", class: "block text-sm font-medium text-gray-700 mb-1" %>
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", 
                                              placeholder: "Email", 
                                              class: "w-full h-auto p-3 border border-gray-300 rounded-md focus:ring-brand focus:border-brand" %>
                        </div>
                        
                        <div class="mb-4">
                            <%= f.label :password, class: "block text-sm font-medium text-gray-700 mb-1" %>
                            <%= f.password_field :password, autocomplete: "current-password", 
                                                placeholder: "Password", 
                                                class: "w-full h-auto p-3 border border-gray-300 rounded-md focus:ring-brand focus:border-brand" %>
                        </div>
                        
                        <% if devise_mapping.rememberable? %>
                            <div class="my-6 flex justify-between items-center gap-2">
                                <div class="flex items-center">
                                    <%= f.check_box :remember_me, class: "h-4 w-4 text-brand focus:ring-brand border-gray-300 rounded" %>
                                    <%= f.label :remember_me, "Remember me", class: "ml-2 block text-sm text-gray-900" %>
                                </div>
                                <%= link_to "Forgot Password?", new_password_path(resource_name), class: "text-sm text-brand" %>
                            </div>
                        <% end %>
                        
                        <div class="mb-4">
                            <%= f.submit "Login", class: "w-full p-4 h-auto bg-brand hover:bg-brand/90 text-white font-medium rounded-md cursor-pointer" %>
                        </div>
                    <% end %>
                    
                    <%= render "devise/shared/links" %>
                </div>
            </div>
            <div>
                <p class="text-xs text-gray-600">&copy; Copyright <%= DateTime.current.year %>. All right reserved</p>
            </div>
        </div>
    </div>
    
    <div class="bg-gradient-to-t from-green-100 to-green-50 w-1/2 flex flex-col justify-between">
        <div class="pt-32">
            <h1 class="text-center text-xl font-semibold mb-4">Optimize real estate sales with cloud-based inventory management system.</h1>
            <div class="space-x-2 text-center flex flex-wrap items-center justify-center">
                <span class="rounded-full border border-gray-500 px-2.5 py-0.5 text-[10px] md:text-xs whitespace-nowrap text-black-700">Inventory Management </span>
                <span class="rounded-full border border-gray-500 px-2.5 py-0.5 my-1 text-[10px] md:text-xs whitespace-nowrap text-black-700">Payment Schedules</span>
                <span class="rounded-full border border-gray-500 px-2.5 py-0.5 my-1 text-[10px] md:text-xs whitespace-nowrap text-black-700">Demand Letters & Legal Papers</span>
            </div>
            <div class="space-x-2 text-center flex flex-wrap items-center justify-center">
                <span class="rounded-full border border-gray-500 px-2.5 py-0.5 text-[10px] md:text-xs whitespace-nowrap text-black-700">Payments & Collections</span>
                <span class="rounded-full border border-gray-500 px-2.5 py-0.5 my-1 text-[10px] md:text-xs whitespace-nowrap text-black-700">Reporting & Analytics</span>
            </div>
            <div class="space-x-2 text-center flex flex-wrap items-center justify-center">
                <span class="rounded-full border border-gray-500 px-2.5 py-0.5 text-[10px] md:text-xs whitespace-nowrap text-black-700 mt-1">& many more...</span>
            </div>
        </div>
        <%= image_tag 'bg-login.png', alt: 'Login background', class: 'w-full' %>
    </div>
</div>