 <%= render_dialog do %>
    <%= dialog_trigger do %>
        <%= render_button text: "Global Inspiria", variant: :outline %>
 	
    <% end %>
    <%= dialog_content do %>
        <span class=" mb-4 block  text-xs">
            Client Name Documents
        </span>
        <div class="rounded-lg shadow-xl bg-white">
          
          <div class="table-responsive">
                <%= render_table class:"overflow-hidden rounded-t-md"  do %>
                    <%= table_head class:"rounded-t-md  py-2 px-4 bg-gradient-to-bl from-[#ffe4e6] to-[#ccfbf1]" do %>
                        <%= table_header class:"w-full" do %>
                            <span class="text-gray-700 text-sm font-bold block">Title</span>	
                        <% end %>
                        <%= table_header class:"" do %>
                            <span class="text-gray-700 text-sm font-bold block">Document</span>	
                        <% end %>
                
                    <% end %>
                    <%= table_body do %>
                        <%= table_row do %>
                            <%= table_column do %>
                             <div class="">
                                Receipt			
                             </div>
                               	
                            <% end %>
                            <%= table_column do %>
                             <div class="whitespace-nowrap">
                               <span class="inline-flex items-center  bg-blue-500 hover:bg-blue-800 text-white text-xs py-1 px-2.5 rounded-md cursor-pointer"><%= render 'icons/download' %> Download</span> 	
                             </div>
                               	
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        
        </div>
    <% end %>
 <% end %>