<div class="flex items-center bg-white/50 border-b">
    <div class=" text-gray-800 flex flex-col justify-center items-center p-4 w-full max-w-[100px] font-semibold">
        <span class="text-2xl ">1 <sup>st</sup></span>
        <span class="uppercase text-[12px]">Floor</span>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 p-2 gap-2">
        <%= render 'projects/flat/available' %>
        <%= render 'projects/flat/booked' %>
        <%= render 'projects/flat/investor' %>
        <%= render 'projects/flat/blocked' %>
        <%= render 'projects/flat/refugee' %>
        <%= render 'projects/flat/investor' %>
        <%= render 'projects/flat/available' %>
        <%= render 'projects/flat/booked' %>
    </div>
</div>