<div>
  <div class="mt-1 mb-4 flex  items-center w-full">
        <span class="w-1/3 "><a href="/dashboard"
                class=" inline-flex  justify-between items-center p-2 text-xs border border-gray-200 rounded-lg rounded-lg bg-white hover:shadow-md transition-all">
                <div class="flex items-center gap-1">
                    <span class="text-gray-800 "><%= render 'icons/back' %></span>
                    <div class="flex flex-col">
                        <span class="text-gray-500">Back</span>

                    </div>
                </div>
            </a></span>

        <span class="w-1/3 text-black text-base font-semibold flex justify-center">Profile Setting</span>
        <span class="w-1/3 flex justify-end">
            <%= render 'shared/breadcrumb' %>
        </span>
    </div>
  <div class="flex gap-4 ">
   
    <div class="w-full border border-gray-200 rounded-lg bg-white/50 project-height-fix min-h-[calc(100vh-150px)]">
        <div class="rounded-t-md  py-3 px-4 bg-gradient-to-bl from-[#ffe4e6] to-[#ccfbf1] flex gap-4 ">
           <div class="flex flex-col">
          <span class="text-xs text-gray-500">Name</span>
          <span class="text-black text-base font-semibold">Jitendra Patel</span>
        </div>
          <div class="flex flex-col">
          <span class="text-xs text-gray-500">Role</span>
          <span class="text-black text-base font-semibold">Super Admin</span>
        </div>
          </div>
           <form action="">
      <div class="p-4">
        <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-4">
          <div class="mb-4">
            <%= render_label name:"", label:"Name", class:"mb-2 block" %>
            <%= render_input name: "", id: "", placeholder:"Name", class:"h-auto p-3 " %>
          </div>
          <div class="mb-4">
            <%= render_label name:"", label:"Mobile", class:"mb-2 block" %>
            <%= render_input name: "", id: "", placeholder:"Mobile", class:"h-auto p-3 " %>
          </div>
           <div class="mb-4">
            <%= render_label name:"", label:"Password", class:"mb-2 block" %>
            <%= render_input name: "", type: "password", placeholder:"Password", class:"h-auto p-3 " %>
          </div>
          <div class="mb-4">
            <%= render_label name:"", label:"Confirm Password", class:"mb-2 block" %>
            <%= render_input name: "", type: "password", placeholder:"Mobile", class:"h-auto p-3 " %>
          </div>
        </div>
      </div>
      <div class="px-4">
        <div class="flex justify-between items-center">
          <%= render_button "Save", as: :link, href: "", class: "bg-brand h-auto min-w-[200px] " %>
        </div>
      </div>
    </form>

            
        </div>
    </div>
  </div>
</div>



