<div class="inline-flex gap-2 rounded-lg shadow-sm">
  <% if defined? show_path %>
    <%= link_to send("#{show_path}_path", record), 
        class: "inline-flex items-center justify-center p-3 text-blue-600 bg-blue-100 hover:bg-blue-600 focus:relative group rounded-lg border border-blue-200" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
      <span class="sr-only">View</span>
    <% end %>
  <% end %>

  <% if defined? edit_path %>
    <% if local_assigns.keys.include?(:sheet) %>
      <%= render_sheet direction: "right", width: "w-full sm:max-w-full lg:max-w-full md:w-3/5 lg:w-3/5 xl:w-1/2", class: "!slide-in-from-right bg-white/50 backdrop-blur-xl p-0" do %>
        <%= sheet_trigger do %>
          <button class="inline-flex items-center justify-center p-3 text-green-600 bg-green-50 transition-all duration-200 focus:relative group rounded-lg border border-green-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
            </svg>
            <span class="sr-only">Edit</span>
          </button>
        <% end %>
        <%= sheet_content do %>
          <%= render partial: "form", locals: { module_name.singularize.to_sym => record } %>
        <% end %>
      <% end %>
    <% elsif local_assigns.keys.include?(:dialog) %>
      <%= render_dialog do %>
        <%= dialog_trigger do %>
          <button class="inline-flex items-center justify-center p-3 text-green-600 bg-green-50 transition-all duration-200 focus:relative group rounded-lg border border-green-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
            </svg>
            <span class="sr-only">Edit</span>
          </button>
        <% end %>
        <%= dialog_content do %>
          <%= render 'edit_form', bank: record %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to send("#{edit_path}_path", record), 
          class: "inline-flex items-center justify-center p-3 text-green-600 bg-green-50 transition-all duration-200 focus:relative group rounded-lg border border-green-200" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
        </svg>
        <span class="sr-only">Edit</span>
      </button>
    <% end %>
  <% end %>

  <% if defined?(delete_path) %>
    <%= render_dialog do %>
      <%= dialog_trigger do %>
        <button class="inline-flex items-center justify-center p-3 text-red-600 bg-red-50 transition-all duration-200 focus:relative group rounded-lg border border-red-200">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
          </svg>
          <span class="sr-only">Delete</span>
        </button>
      <% end %>

      <%= dialog_content do %>
        <div class="flex flex-col space-y-1.5 pb-3">
          <h3 class="font-semibold leading-none tracking-tight text-xl">Delete <%= module_name.humanize %></h3>
          <p class="text-sm text-muted-foreground mb-4">Are you sure? This can't be undone.</p>
        </div>
        <div class="items-center py-2 flex gap-2">
          <%= button_to "Yes", send("#{delete_path}_path", record), method: :delete,
                class: "inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 h-10 px-4 py-2 border border-red-100 bg-red-100 text-red-500 hover:bg-red-500 hover:text-white" %>
          <button data-ui--dialog-target="closeButton" type="button"
            class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 border border-input bg-background hover:bg-accent hover:text-accent-foreground">
            Cancel
          </button>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% end %>
</div>
