<%= render_sheet direction: "right", width: "w-full sm:max-w-full lg:max-w-full md:w-3/5 lg:w-3/5 xl:w-1/2", class: "!slide-in-from-right bg-white/50 backdrop-blur-xl p-0" do %>
  <%= sheet_trigger do %>
    <%= render_button as: :link, href: "", class: "bg-brand text-white border border-brand gap-2 hover:bg-brand/80 h-12" do %>
      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
      </svg>
      Edit <%= object_class %>
    <% end %>
  <% end %>
  <%= sheet_content do %>
    <%= render partial: form_partial, locals: { object: object } %>
  <% end %>
<% end %>

<%= render_dialog do %>
  <%= dialog_trigger do %>
    <button class="inline-flex items-center justify-center p-3 text-red-600 bg-red-50 transition-all duration-200 focus:relative group rounded-lg border border-red-200">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
      </svg>
      <span>Delete <%= object_class %></span>
    </button>
  <% end %>

  <%= dialog_content do %>
    <div class="flex flex-col space-y-1.5 pb-3">
      <h3 class="font-semibold leading-none tracking-tight text-xl">Delete <%= object_class %></h3>
      <p class="text-sm text-muted-foreground mb-4">Are you sure? This can't be undone.</p>
    </div>
    <div class="items-center py-2 flex gap-2">
      <%= button_to "Yes", delete_path, method: :delete,
            class: "inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 h-10 px-4 py-2 border border-red-100 bg-red-100 text-red-500 hover:bg-red-500 hover:text-white" %>
      <button data-ui--dialog-target="closeButton" type="button"
        class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 border border-input bg-background hover:bg-accent hover:text-accent-foreground">
        Cancel
      </button>
    </div>
  <% end %>
<% end %>
