<header class=" border-b border-gray-200 fixed top-0 left-0 z-10 w-full">
    <div class="mx-auto px-4   bg-white z-10 bg-white/80 backdrop-blur-lg">
        <div class="flex  h-16 items-center justify-between">
            <div class="flex items-center gap-4 md:flex md:items-center ">
                  <div id="expandMenu" class="w-[50px] flex justify-center">
                    <span id="toggleButton" onclick="toggleIcon()" class="cursor-pointer ">
                        <svg id="icon1" class="size-6 rotate-0 "  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 17h14M5 12h14M5 7h8"/></svg>
                        <svg id="icon2" class="size-6 rotate-180 hidden "  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 17h14M5 12h14M5 7h8"/></svg>
                      
                    </span>
                </div>
                <div class="w-48 ">
                    <a href="/dashboard">
                        <%= image_tag 'sample-logo.png', alt: 'Company Logo', class: 'max-w-40 max-h-12 w-auto' %>
                    </a>
                    
                </div>
                
               
            </div>

            <div class="flex items-center gap-2">

                <%= render_dropdown_menu do %>
                    <%= dropdown_menu_trigger do %>
                        <button type="button" class=" flex items-center gap-2">
                            <span class="sr-only">Toggle dashboard menu</span>
                            <svg class="size-10 p-2 text-brand bg-brand/10 rounded-full" xmlns="http://www.w3.org/2000/svg" width="448" height="512" viewBox="0 0 448 512"><path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128m95.8 32.6L272 480l-32-136l32-56h-96l32 56l-32 136l-47.8-191.4C56.9 292 0 350.3 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-72.1-56.9-130.4-128.2-133.8"/></svg>
                              <div class="flex flex-col items-start ">
                                <span class="block text-sm"><%= current_user&.name %> </span>
                                <span class="text-gray-500 text-xs !text-brand block"><%= current_user&.role&.name %></span>
                            </div>
                        </button>
                    <% end %>
                    <%= dropdown_menu_content do %>
                        
                        <%= dropdown_menu_item  do %>
                            <div class="flex gap-2 items-center text-gray-500 hover:text-brand cursor-pointer">
                                <%= link_to profile_path, class: "flex gap-2 items-center text-gray-500 hover:text-brand cursor-pointer h-auto p-1" do %>
                                   <%= render 'icons/password' %>
                                   <span>Profile Setting</span>
                                <% end %>
                            </div>
                        <% end %>
                        <%= dropdown_menu_item  do %>
                          <%= link_to destroy_user_session_path,  data: { "turbo-method": :delete }, class: "flex gap-2 items-center text-gray-500 hover:text-brand cursor-pointer h-auto p-1" do %>
                            <%= render 'icons/logout' %>
                            <span>Logout</span>
                          <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</header>