<aside class="text-gray-800 min-h-screen mini border-r fixed top-[65px]  z-50 pb-2 " id="sideBar">
  <nav id="sideBarScroll">
    <ul class="menu rounded-box space-y-0">
      <li class="flex cursor-pointer items-center justify-between">
        <%= link_to dashboard_path, class: "w-full p-3 text-gray-900 hover:bg-gray-50 hover:text-brand #{'active' if current_page?(dashboard_path) || current_page?(project_path) || current_page?(building_path) || current_page?(parking_path) || current_page?(paymentsPlan_path) || current_page?(inventory_path) || current_page?(cancelledBookings_path) || current_page?(exportBookingList_path) || current_page?(flatBooking_path) || current_page?(showBooking_path) || current_page?(projectSummary_path) || current_page?(todaysCall_path) || current_page?(backlog_path) || current_page?(demandLetter_path) || current_page?(reminderLetter_path)  }" do %>
        <div class="menu-div flex flex-col gap-2 items-center">
          <%= render 'icons/project' %>
          <span class="menu-text">Projects</span>
        </div>
        <% end %>
      </li>
      <li class="flex cursor-pointer items-center justify-between">
        <%= link_to search_path, class: "w-full  p-3 text-gray-900 hover:bg-gray-50 hover:text-brand #{'active' if current_page?(search_path)}" do %>
        <div class="menu-div flex gap-2 items-center">
          <%= render 'icons/search' %>
          <span class="menu-text">search</span>
        </div>
        <% end %>
      </li>
      <li class="flex cursor-pointer items-center justify-between">
        <details class="w-full group [&_summary::-webkit-details-marker]:hidden"
          <%= current_page?(employee_wise_booking_path) || current_page?(booking_report_path) || current_page?(mis_report_path) || current_page?(broker_report_path) || current_page?(status_report_project_path) || current_page?(status_report_building_path) || current_page?(status_report_configuration_path) || current_page?(status_report_areawise_path) || current_page?(collection_repor_project_path) || current_page?(collection_report_building_path) || current_page?(collection_report_slab_path)  ? 'open' : '' %>>
          <summary
            class="w-full flex cursor-pointer items-center justify-between  p-3 text-gray-900 hover:bg-gray-50 hover:text-brand <%= current_page?(employee_wise_booking_path) || current_page?(booking_report_path) || current_page?(mis_report_path) || current_page?(broker_report_path) || current_page?(status_report_project_path) || current_page?(status_report_building_path) || current_page?(status_report_configuration_path) || current_page?(status_report_areawise_path) || current_page?(collection_repor_project_path) || current_page?(collection_report_building_path) || current_page?(collection_report_slab_path)  ? 'active' : '' %>">
            <div class="menu-div flex gap-2 items-center">
              <%= render 'icons/charts' %>
              <span class="menu-text">reports</span>
            </div>
          </summary>
          <ul class="my-2 mx-4 border  divide-y bg-base-100 rounded-lg shadow-xl  sub-menu overflow-hidden">
            <li>
              <%= link_to employee_wise_booking_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(employee_wise_booking_path)}" do %>

              <span class="menu-text"> Employee Wise Booking</span>
              <% end %>
            </li>
            <li>
              <%= link_to booking_report_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(booking_report_path)}" do %>

              <span class="menu-text">Booking Report</span>
              <% end %>
            </li>
            <li>
              <%= link_to mis_report_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(mis_report_path)}" do %>

              <span class="menu-text">MIS Report</span>
              <% end %>
            </li>
            <li>
              <%= link_to broker_report_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(broker_report_path)}" do %>

              <span class="menu-text">Broker Report</span>
              <% end %>
            </li>
            <li>
              <%= link_to status_report_project_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(status_report_project_path)}" do %>

              <span class="menu-text">
                <div class="flex flex-col">
                  <span class="text-[10px] opacity-60">Status Report</span> Project Level
                </div>
              </span>
              <% end %>
            </li>
            <li>
              <%= link_to status_report_building_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(status_report_building_path)}" do %>
              <span class="menu-text">
                <div class="flex flex-col">
                  <span class="text-[10px] opacity-60">Status Report</span> Building Level
                </div>
              </span>
              <% end %>
            </li>
             <li>
              <%= link_to status_report_configuration_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(status_report_configuration_path)}" do %>
                  <span class="menu-text">
                  <div class="flex flex-col">
                    <span class="text-[10px] opacity-60">Status Report</span> Configuration Level
                  </div>
                </span>
              <% end %>
            </li>
             <li>
              <%= link_to status_report_areawise_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(status_report_areawise_path)}" do %>

              <span class="menu-text">
                  <div class="flex flex-col">
                    <span class="text-[10px] opacity-60">Status Report</span> Areawise
                  </div>
                </span>
              <% end %>
            </li>
             <li>
              <%= link_to collection_repor_project_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(collection_repor_project_path)}" do %>

               <span class="menu-text">
                  <div class="flex flex-col">
                    <span class="text-[10px] opacity-60">Collection Report</span> Project Level
                  </div>
                </span>
              <% end %>
            </li>
             <li>
              <%= link_to collection_report_building_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(collection_report_building_path)}" do %>

              <span class="menu-text">
                  <div class="flex flex-col">
                    <span class="text-[10px] opacity-60">Collection Report</span> Building Level
                  </div>
                </span>
              <% end %>
            </li>
            <li>
              <%= link_to collection_report_slab_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(collection_report_slab_path)}" do %>

             <span class="menu-text">
                  <div class="flex flex-col">
                    <span class="text-[10px] opacity-60">Collection Report</span> Slab
                  </div>
                </span>
              <% end %>
            </li>
          </ul>
        </details>
      </li>

      <li class="flex cursor-pointer items-center justify-between">
        <details class="w-full group [&_summary::-webkit-details-marker]:hidden"
          <%= current_page?(flat_facing_path) || current_page?(flat_configuration_path) || current_page?(brokers_path) || current_page?(clients_path) || current_page?(offers_path) || current_page?(users_path) || current_page?(accounts_path) || current_page?(interest_path) || current_page?(bank_path) || current_page?(fund_sources_path) || current_page?(transactions_path) || current_page?(cost_types_path) || current_page?(taxes_path) || current_page?(tds_path)  ? 'open' : '' %>>
          <summary
            class="w-full flex cursor-pointer items-center justify-between  p-3 text-gray-900 hover:bg-gray-50 hover:text-brand <%= current_page?(flat_facing_path) || current_page?(flat_configuration_path) || current_page?(brokers_path) || current_page?(clients_path) || current_page?(offers_path) || current_page?(users_path) || current_page?(accounts_path) || current_page?(interest_path) || current_page?(bank_path) || current_page?(fund_sources_path) || current_page?(transactions_path) || current_page?(cost_types_path) || current_page?(taxes_path) || current_page?(tds_path)  ? 'active' : '' %>">
            <div class="menu-div flex gap-2 items-center">
              <%= render 'icons/settings' %>
              <span class="menu-text">Settings</span>
            </div>

          </summary>

          <ul class="my-2 mx-4 border  divide-y bg-base-100 rounded-lg shadow-xl  sub-menu overflow-hidden">
            <li>
              <%= link_to flat_facing_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(flat_facing_path)}" do %>
              <span class="menu-text"> Flat Facing</span>
              <% end %>
            </li>
            <li>
              <%= link_to flat_configuration_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(flat_configuration_path)}" do %>
              <span class="menu-text"> Flat Configuration</span>
              <% end %>
            </li>
            <li>
              <%= link_to brokers_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(brokers_path)}" do %>
              <span class="menu-text"> Brokers</span>
              <% end %>
            </li>
            <li>
              <%= link_to clients_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(clients_path)}" do %>
              <span class="menu-text"> Clients</span>
              <% end %>
            </li>
            <li>
              <%= link_to offers_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(offers_path)}" do %>
              <span class="menu-text"> Offers</span>
              <% end %>
            </li>
            <li>
              <%= link_to users_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(users_path)}" do %>
              <span class="menu-text"> Users</span>
              <% end %>
            </li>
            <li>
              <%= link_to accounts_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(accounts_path)}" do %>
              <span class="menu-text"> Account No</span>
              <% end %>
            </li>
            <li>
              <%= link_to interest_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(interest_path)}" do %>
              <span class="menu-text"> Interest Percentage</span>
              <% end %>
            </li>
            <li>
              <%= link_to bank_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(bank_path)}" do %>
              <span class="menu-text"> Banks</span>
              <% end %>
            </li>
            <li>
              <%= link_to fund_sources_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(fund_sources_path)}" do %>
              <span class="menu-text"> Fund Sources</span>
              <% end %>
            </li>
            <li>
              <%= link_to transactions_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(transactions_path)}" do %>
              <span class="menu-text"> Transactions</span>
              <% end %>
            </li>
            <li>
              <%= link_to cost_types_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(cost_types_path)}" do %>
              <span class="menu-text"> Cost Types</span>
              <% end %>
            </li>
            <li>
              <%= link_to taxes_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(taxes_path)}" do %>
              <span class="menu-text"> Taxes</span>
              <% end %>
            </li>
            <li>
              <%= link_to tds_path, class: "menu-div flex gap-1  p-2  text-sm text-gray-600 font-semibold  hover:bg-gray-50 hover:text-brand #{'active' if current_page?(tds_path)}" do %>
              <span class="menu-text"> TDS</span>
              <% end %>
            </li>

          </ul>
        </details>
      </li>

    </ul>
  </nav>
</aside>